# Streamlit
streamlit==1.32.2

# Transformers & Torch
transformers==4.37.2
torch==2.2.0
huggingface-hub>=0.20.3

# Embeddings & Vector Search
sentence-transformers==2.5.1
faiss-cpu==1.7.4

# LangChain
langchain-core==0.1.27
langchain-community==0.0.24

# PDF Handling
PyPDF2==3.0.1
pdfplumber==0.10.2

# Utilities
numpy>=1.23.0
pandas>=1.5.3
regex
tqdm

# Environment Variables
python-dotenv==1.0.1
