# Streamlit app
streamlit==1.33.0

# Transformers pipeline (HuggingFace)
transformers==4.39.3
torch>=1.13.0

# Embeddings & vector search
sentence-transformers==2.2.2
faiss-cpu==1.7.4

# LangChain core utilities
langchain==0.1.14
langchain-community==0.0.21

# PDF parsing
PyPDF2==3.0.1
pdfplumber==0.10.2

# General dependencies
numpy==1.20.2
pandas==1.2.4
regex
tqdm
pickle5
